@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please use nav bar at top to do actions </br>
      New Customers please add your accout to file with New Customer before using Select Customer</br>
      Existing Customers welcome back please use Select Customer to order
      Stores please use the Store link for store actions
    </p>
</div>
