@model PizzaWorld.WebClient.Models.StoreViewModel

@{
  ViewBag.Title = "Store - Home";
  Layout = "_Layout";
}

<section>
  @Model.Name

  <form>
    @Html.ActionLink("Order History","OrderHistory","Store",this.Model)
  </form>

  <form>
    @Html.ActionLink("Sales","Sales","Store",this.Model)
  </form>

</section>
