@model PizzaWorld.WebClient.Models.StoreViewModel

@{
  ViewBag.Title = "Store - OrderHistory";
  Layout = "_CustomLayout";
}

<section>
  @Model.Name

  @foreach (var item in Model.Orders)
  {
    <section class="row">
      <textarea disabled="false">@item.ToString()</textarea>
      <text contenteditable="false">@item.OrderDate</text>
    </section>
  }
</section>
