@model PizzaWorld.WebClient.Models.StoreViewModel

@{
  ViewBag.Title = "Store - OrderHistory";
  Layout = "_Layout";
}

<section class="col-md-12">
  @Model.Name

  <section class="row-md-4">
      <textarea class="col-md-8" cols="100" rows="5">@Model.Orders</textarea>
  </section>
</section>
