@model PizzaWorld.WebClient.Models.CustomerViewModel

@{
  ViewBag.Title = "Customer - Home";
  Layout = "_CustomLayout";
}

<section>
  @Model.Name
</section>

@Html.Partial("~/Views/Order/Order.cshtml", Model.Order)
