@model PizzaWorld.WebClient.Models.CustomerViewModel

@{
  ViewBag.Title = "Customer - Home";
  Layout = "_CustomLayout";
}

<section>
  @Model.Name

  <form>
    @Html.ActionLink("Order History","OrderHistory","Customer",this.Model)
  </form>

</section>

@Html.Partial("~/Views/Order/Order.cshtml", Model.Order)
